
/*GENERAL*/
body {
	font-family: "Lato";
	margin: 0;
}
.container {
	max-width: 800px;
	margin: 0 auto;
}
img {
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	display: block;
}
p {
	margin-bottom: 0.5em;
}

/*TYPOGRAPHY*/
h1 {
	font-size: 2.5em;
	margin-bottom: 0;
	margin-top: 0.5em;
}
h3 {
	font-size: 1.3em;
	margin-top: 0.5em;
}
h4 {
	font-size: 1.1em;
}


/*NAV*/
nav {
	vertical-align: top;
	display: inline-block;
	width: calc(25% - 20px);
	padding-right: 20px;
	box-sizing: border-box;
}
nav h3 {
	text-decoration: underline;
}
nav h4 {
	margin-bottom: 0.5em;
}
nav section {
	padding-bottom: 20px;
	border-bottom: 1px dotted rgba(0,0,0,0.5);
}
#pageNav {
	display: block;
	text-align: left;
	margin: 0 20px;
	width: 100%;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	padding: 20px 0;
}
#pageNav li {
	display: inline-block;
}
#pageNav li a {
	text-decoration: none;
	padding-right: 20px;
	font-size: 1.3em;
}
#pageNav li.active {
	text-decoration: underline;
	font-weight: bold;
}

/*ABOUT*/
#about {
	padding: 20px 0;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	margin-bottom: 20px;
}

/*HOMEWORK*/
#homeworks {
	display: inline-block;
	border-left: 1px solid rgba(0,0,0,0.5);
	width: calc(74% - 20px);
	padding-left: 20px;
}
#homeworks section {
	border-bottom: 1px solid rgba(0,0,0,0.5);
	padding-bottom: 20px;
}

/*PROJECT*/
#project #about {
	text-align: center;
}
#project #about span {
	display: inline-block;
	width: 32%;
}
#project #about span h3 {
	margin-bottom: 0;
}
#project #about span p {
	margin-top: 0.5em;
}

/*MEDIA QUERIES*/
@media all and (max-width: 500px) {
	body {
		margin: 0 8px;
	}
	#pageNav {
		margin: 0;
	}
	nav, #homeworks,#project #about span {
		width: 100%;
	}
	nav {
		border-bottom: 2px solid black;
	}
	ul {
		padding-left: 20px;
	}
	#homeworks {
		border-left: 0;
		padding-left: 0;
		padding-bottom: 30px;
	}

}